{% extends "base/listar.html" %}

{% block title %}
  Lista Cuentas
{% endblock %}

{% block main %}
  <h2>Lista de Cuentas</h2>
  <div class="menu">
    <a href="/proveedor/ingresar/">Ingresar proveedor</a>
    <a href="/proveedor/cuentas/ingresar/">Ingresar cuenta</a>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Proveedor</th>
        <th>Banco</th>
        <th>Tipo cuenta</th>
        <th>Numero cuenta</th>
        <th>Telefono proveedor</th>
      </tr>
    </thead>
    <tbody>
      {% for cuenta in cuentas %}
      <tr>
        <td>{{ cuenta.id }}</td>
        <td>{{ cuenta.proveedor }}</td>
        <td>{{ cuenta.banco }}</td>
        <td>{{ cuenta.tipo_cuenta }}</td>
        <td>{{ cuenta.numero_cuenta }}</td>
        <td>{{ cuenta.proveedor.telefono }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
