{% extends "base/form.html" %}

{% block title %}
  Ingresado Proveedor
{% endblock %}

{% block main %}

  {% if registered %}
    <div class="caja">
      <div class="error">
        <h1 class="formTitulo">Se ingreso  la cuenta correctamente</h1>
        <a href="/menu/">Ir al menu</a>
        <a href="/proveedor/cuentas/ingresar/">Ingresar otra cuenta</a>
        <a href="/proveedor/cuentas/">Ver todas las cuentas</a>
      </div>
    </div>
  {% else %}
    <form class="form" method="post">
      <h1 class="formTitulo">Ingresando Cuenta </h1>
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Ingresar">
        <a href="/stock/">Ir a Stock</a>
    </form>
  {% endif %}

{% endblock %}
