{% extends "base/listar.html" %}
{% block title %}
  Lista Proveedores
{% endblock %}

{% block main %}
  <h2>Lista de proveedores</h2>
  <div class="menu">
      <a href="/proveedor/ingresar/">Ingresar proveedor</a>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Cedula</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>RUC</th>
      </tr>
    </thead>
    <tbody>
      {% for proveedor in proveedores %}
      <tr>
        <td>{{ proveedor.id }}</td>
        <td>{{ proveedor.nombre }} {{ proveedor.apellido }}</td>
        <td>{{ proveedor.direccion }}</td>
        <td>{{ proveedor.cedula }}</td>
        <td>{{ proveedor.telefono }}</td>
        <td>{{ proveedor.correo }}</td>
        <td>{{ proveedor.ruc }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
