<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} TITULO GENERICO {% endblock %}</title>
    <link rel="stylesheet" href="/static/CSS/estiloListas.css">
    <link rel="stylesheet" href="/static/CSS/estiloBarra.css">
  </head>
  <body>
  {% block header %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <header >
               <nav class="barra" id="prueba">
                 <div class="nom-tienda">
                     <p><a href="/">FGA</a></p>
                 </div>
                 <ul class="opciones">
                     <li><a href="/stock/">Stock</a>
                         <ul class="sub-opciones">
                             <li><a href="/stock/principal/">Principal</a></li>
                             <li><a href="/stock/terminal/">Terminal</a></li>
                         </ul>
                     </li>
                     <li><a href="/ventas/vender/">Vender</a></li>
                     <li><a href="/ventas/">Ventas</a></li>
                     <li><a href="/menu/admin/">Ir al menu</a></li>
                     <li><a href="/salir/">Salir</a> </li>
                   </ul>
                 </nav>
                 <h1> <strong>FGA</strong> Tecnologia</h1>
            </header>
        {% else %}
            <header >
               <nav class="barra" id="prueba">
                 <div class="nom-tienda">
                     <p><a href="index.html">FGA</a></p>
                 </div>
                 <ul class="opciones">
                     <li><a href="/stock/">Stock</a>
                         <ul class="sub-opciones">
                             <li><a href="/stock/principal/">Principal</a></li>
                             <li><a href="/stock/terminal/">Terminal</a></li>
                         </ul>
                     </li>
                     <li><a href="/ventas/vender/">Vender</a></li>
                     <li><a href="/ventas/">Ventas</a></li>
                     <li><a href="/salir/">Salir</a> </li>
                 </ul>
                 </nav>
                 <h1> <strong>FGA</strong> Tecnologia</h1>
            </header>
        {% endif %}

    {% else %}
          <header >
               <nav class="barra" id="prueba">
                 <div class="nom-tienda">
                     <p><a href="index.html">FGA</a></p>
                 </div>
                 <ul class="opciones">
                     <li><a href="/login/">Ingresar</a></li>
                 </ul>
                 </nav>
                 <h1> <strong>FGA</strong> Tecnologia</h1>
            </header>
    {% endif %}
{% endblock %}

    {% if user.is_authenticated %}
      <main>

        {% block main %}

        {% endblock %}

      </main>
    {% endif %}

  </body>
</html>
