{% extends "base/stock.html" %}

{% block title %}
  Stock
{% endblock %}

{% block main %}
  <h2>Stock Locales</h2>
  <div class="menu">
  <a href="/stock/">Stock general</a>
  <a href="/stock/principal/">Stock local principal</a>
  <a href="/stock/terminal/">Stock local terminal</a>
  </div>

  <table class="tabla">
      <thead>
        <tr>
          <th>Local</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Ubicacion</th>
          <th>Precio Venta</th>
          <th>Precio Descuento</th>
          <th>Codigo</th>
        </tr>
      </thead>

      <tbody>
        {% for stock in stocks %}
        <tr>
          <td>{{ stock.local }}</td>
          <td>{{ stock.producto.producto }}</td>
          <td>{{ stock.cantidad }}</td>
          <td>{{ stock.ubicacion }}</td>
          <td>{{ stock.producto.precio_venta }}</td>
          <td>{{ stock.producto.precio_descuento }}</td>
          <td>{{ stock.producto.codigo }}</td>
        </tr>
        {% empty %}
          <h2>No tiene stock</h2>
        {% endfor %}
      </tbody>
  </table>
{% endblock %}
