{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vender</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'ajax.js' %}">  </script>
  </head>
  <body>

    <div class="">
      <h2>PRODUCTOS</h2>
      {% if productos %}
      <table>
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Ubicacion</th>
            <th>ID</th>
            <th>CODIGO</th>
            <th>Producto ID</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
          <tr>
            <td>{{ producto.producto }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.ubicacion }}</td>
            <td>{{ producto.id }}</td>
            <td>{{ producto.producto.codigo }}</td>
            <td>{{ producto.producto_id }}</td>
            <td>{{ producto.local }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
<!--
    <script type="text/javascript">

      $('#Vender').click(function() {
        console.log("click");
        codigo=$('#codigo').val();

        console.log(codigo);

      });

    </script>
-->

    <form method="GET" action="{% url 'finventa' %}" id="busqueda">
      <div class="">
        <input type="text" name="local" value="">
        <input type="text" name="cantidad" id="codigo" value="">
        <input type="submit" value="Vender">
      </div>
    </form>



  </body>
</html>
