{% extends "base/form.html" %}
{% block title %}
  Categoria
{% endblock %}

{% block main %}

  {% if registered %}
    <div class="caja">
      <div class="error">
        <h1 class="formTitulo">Se ingreso la categoria correctamente</h1>
        <a href="//">Ir al inicio</a>
        <a href="/productos/categorias/ingresar/">Ingresar otra categoria</a>
        <a href="/productos/categorias/">Ver todas las categorias</a>
      </div>
    </div>
  {% else %}
    <form class="form" method="post">
      <h1 class="formTitulo">Ingresando Categoria</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Guardar">
        <a href="/productos/categorias/">Ir a categorias</a>
    </form>
  {% endif %}

{% endblock %}
