{% extends "base/listar.html" %}
{% block title %}
  Categorias
{% endblock %}

{% block main %}
  <h2>Lista de Categorias</h2>
  <div class="menu">
    <a href="/productos/categorias/registrar/">Registrar categoria</a>
  </div>
  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>

    <tbody>
      {% for categoria in categorias %}
      <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombre }}</td>
      </tr>
      {% empty %}
        <h2>No hay categorias registradas</h2>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
