{% extends "base.html" %}
{% block title %}
  Detalles Envio
{% endblock %}

{% block main %}
  <h1>Detalles de Envio</h1>
  <table>
    <thead>
      <tr>
        <th>Envio</th>
        <th>Producto</th>
        <th>Cantidad</th>
      </tr>
    </thead>

    <tbody>
      {% for detalle in detalles %}
      <tr>
        <td>{{ detalle.id_envio }}</td>
        <td>{{ detalle.producto }}</td>
        <td>{{ detalle.cantidad }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
