{% extends "base.html" %}

{% block title %}
Lista Envios
{% endblock %}

{% block main %}
<h1>Lista de Envios</h1>
<table>
  <thead>
    <tr>
      <th>Local salida</th>
      <th>Local llegada</th>
      <th>Descripcion</th>
      <th>Fecha</th>
      <th>Hora</th>
    </tr>
  </thead>

  <tbody>
    {% for envio in envios %}
    <tr>
      <td>{{ envio.local_salida }}</td>
      <td>{{ envio.local_llegada }}</td>
      <td>{{ envio.descripcion }}</td>
      <td>{{ envio.fecha }}</td>
      <td>{{ envio.hora }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
