{% extends "base/listar.html" %}
{% block title %}
  Envios
{% endblock %}

{% block main %}
  <h2>E N V I O S</h2>
  <div class="menu">
    <a href="/productos/categorias/">Categorias</a>
    <a href="/productos/">Productos</a>
    <a href="/productos/ingresos/">Ingresos</a>
    <a href="/productos/enviar/">Enviar</a>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th>Local envio</th>
        <th>Local llega</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Ubicacion</th>
      </tr>
    </thead>

    <tbody>
      {% for envio in envios %}
      <tr>
        <td>{{ envio.local_envio }}</td>
        <td>{{ envio.local_llegada }}</td>
        <td>{{ envio.fecha }}</td>
        <td>{{ envio.hora }}</td>
        <td>{{ envio.producto }}</td>
        <td>{{ envio.cantidad }}</td>
        <td>{{ envio.ubicacion }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
