{% extends "base/form.html" %}
{% block title %}
  Enviar
{% endblock %}

{% block main %}

  {% if registered %}
    <div class="caja">
      <div class="error">
        <h1 class="formTitulo">Envio finalizado</h1>
        <a href="//">Ir al inicio</a>
        <a href="/productos/enviar/">Realizar otro envio</a>
        <a href="/productos/envios/">Ver todos los envios</a>
      </div>
    </div>
  {% else %}
    <form class="form" method="post">
      <h1 class="formTitulo">Enviando</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Enviar">
        <a href="/productos/envios/">Ir a envios</a>
    </form>
  {% endif %}

{% endblock %}
