{% extends "base.html" %}
{% block title %}
  Envios
{% endblock %}

{% block main %}
  <form class=""  method="post">

    <h1>Envio</h1>
    {% csrf_token %}

    <div class="">
      {{ form.as_table }}
    </div>

    <div class="">
      <input type="submit" value="Enviar">
      <a href="/envios/">Envios</a>
    </div>

    <h2>Detalle envio</h2>

    {{ formset.management_form }}

    <form class=""  method="post">

      {% for form in formset %}
        {{ form.producto }}
        {{ form.cantidad }}
        <br>
      {% endfor %}

    </form>

  </form>

{% endblock %}
