{% extends "base/listar.html" %}
{% block title %}
  Lista Ingresos
{% endblock %}

{% block main %}
  <h2>Lista de Ingresos</h2>
  <div class="menu">
    <a href="/productos/categorias/">Categorias</a>
    <a href="/productos/">Productos</a>
    <a href="/productos/envios/">Envios</a>
    <a href="/productos/ingresar/ingresos/">Ingresar</a>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Proveedor</th>
        <th>Local</th>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>

    <tbody>
      {% for ingreso in ingresos %}
      <tr>
        <td>{{ ingreso.id }}</td>
        <td>{{ ingreso.proveedor }}</td>
        <td>{{ ingreso.local }}</td>
        <td>{{ ingreso.descripcion }}</td>
        <td>{{ ingreso.fecha }}</td>
        <td>{{ ingreso.hora }}</td>
      </tr>
      {% empty %}
        <h2>No a registrado ingresos aun</h2>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
