{% extends "base/form.html" %}

{% block title %}
  Ingresando Producto
{% endblock %}

{% block main %}

  {% if registered %}
    <div class="caja">
      <div class="error">
        <h1 class="formTitulo">Se ingreso el producto correctamente</h1>
        <a href="//">Ir al inicio</a>
        <a href="/productos/ingresar/">Ingresar otro producto</a>
        <a href="/productos/">Ver productos</a>
      </div>
    </div>
  {% else %}
    <form class="form" method="post">
      <h1 class="formTitulo">Ingresando Producto</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Ingresar">
        <a href="/productos/">Ir a productos</a>
    </form>
  {% endif %}

{% endblock %}
