{% extends "base/listar.html" %}
{% block title %}
  Lista Productos
{% endblock %}

{% block main %}
  <h2>Lista de productos</h2>
  <div class="menu">
    <a href="/productos/ingresar/">Ingresar producto</a>
    <a href="/productos/ingresos/">Ingresos</a>
    <a href="/productos/categorias/">Categorias</a>
    <a href="/productos/envios/">Envios</a>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Stock minimo</th>
        <th>Categoria</th>
        <th>Editar</th>
      </tr>
    </thead>

    <tbody>
      {% for producto in productos %}
      <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.stock_minimo }}</td>
        <td>{{ producto.categoria }}</td>
        <td><a href="/productos/editar/{{ producto.id }}/">Editar</a> </td>
      </tr>
      {% empty %}
        <h2>No a registrado productos aun</h2>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
