{% extends "base.html" %}
{% block title %}
  Lista Ventas
{% endblock %}

{% block main %}
  <h1>Lista de Ventas</h1>
  <table>
    <thead>
      <tr>
        <th>Local</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Cedula</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      {% for venta in ventas %}
      <tr>
        <td>{{ venta.local }}</td>
        <td>{{ venta.fecha }}</td>
        <td>{{ venta.hora }}</td>
        <td>{{ venta.cedula }}</td>
        <td>{{ venta.total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
