<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Administrador</title>
    <link rel="stylesheet" href="/static/CSS/estiloAdmin.css">
</head>
<body>

    <div class="caja">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <h1>Menu Admin</h1>
                <a href="/salir/">Cerrar la sesión</a>

                <h1>Opciones</h1>

                <a href="/productos/">Productos</a>
                <a href="/productos/categorias/">Categorias</a>
                <a href="/productos/ingresos/">Ingresos</a>
                <a href="/productos/ingresos/detalles/">Detalles</a>
                <a href="/productos/envios/">Envios</a>
                <a href="/proveedor/">Proveedores</a>
                <a href="/proveedor/cuentas/">Cuentas de proveedores</a>
                <a href="/ventas/vender/">Vender</a>
                <a href="/ventas/">Ventas</a>
                <a href="/stock/principal/">Stock principal</a>
                <a href="/stock/terminal/">Stock terminal</a>

            {% endif %}
        {% else %}
        <div class="error">
            <h1>ERROR SIN ACCESO</h1>
            <a href="/">VOLVER AL INICIO</a>
        </div>
        {% endif %}
    </div>
</body>
</html>
