*{
	margin: 0;
	padding: 0; 
}

body{
	background: #113A52; 
}

.caja{
	display: block; 
	margin: auto;
	margin-top: 50px;
	position: relative;
	/*background: #1C3E67;*/
	background: black;
	width: 50%;
}

.caja h1{
	text-align: center;
	color: white; 
	padding: 20px;
	background: black;
}

.caja a{
	text-decoration: none; 
	font-size: 15px; 
	display: block;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	color: black; 
	/*border-radius: 10%;*/
	/*border-style: dotted;*/
	border-color: #113A52;
	margin: 5px;
	background: #ccc;
	border-width: 7px;
}

.caja a:hover{
	color: #ce7d35; 
}

/*Estilo del error*/

.error{
  display: block; 
  margin: auto;
  padding: 20px;
  background: #ccc; 
}

.error a{
  background: #ccc;
  text-decoration: none;
  padding: 10px 20px;
  color: #000;
  margin-top: 20px;
}

.error a:hover{
	color: orange; 
}