<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/estiloListas.css">
    <link rel="stylesheet" href="/static/css/ventas/venta.css">
  </head>
  <body onload="anadir(); multiplicar();">
{% if user.is_authenticated %}
    <h2>Fin de Venta</h2>
    <table class="tabla">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio venta</th>
          <th>Precio descuento</th>
          <th>Cantidad</th>
          <th>Ubicacion</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.producto.producto }}</td>
            <td> <span id="precio_normal">{{ producto.producto.precio_venta }}</span></td>
            <td> <span id="precio_descuento">{{ producto.producto.precio_descuento }}</span></td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.ubicacion }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>

    <div class="caja">

      <div class="seleccion" onchange="actualizar(); multiplicar();">
        <h2>Selecione el precio:</h2>
        <label for="">Precio normal: </label> <input type="radio" name="opcion" value="1" id="precioNormal" checked="checked">
        <label for="">Precio descuento: </label> <input type="radio" name="opcion" value="2" id="precioDescuento">
      </div>

      <form class="opciones" action="/ventas/vender/" method="GET">
        <label>Precio:
          <input type="text" name="precio" value="" id="precioCom" onchange="multiplicar()">
        </label>
        <label>Cantidad:
          <input type="text" name="cantidad" value="1" id="cantidadCom" onchange="multiplicar()">
        </label>
        <label>Total:
          <input type="text" name="total" readonly="readonly" value="1" id="totalCom">
        </label>
        <input type="submit" name="" value="Vender">
      </form>
    </div>
    
{% endif %}

  </body>

  <script type="text/javascript">

    function anadir(){
      var precio_normal = document.getElementById("precio_normal").innerHTML;
      document.getElementById("precioNormal").value = precio_normal;

      var precio_descuento = document.getElementById("precio_descuento").innerHTML;
      document.getElementById("precioDescuento").value = precio_descuento;

      document.getElementById("precioCom").value = precio_normal;
    }

    function actualizar(){
      var precio = 0;
      if(document.getElementById("precioNormal").checked){
        precio = document.getElementById("precioNormal").value;
      }else if(document.getElementById("precioDescuento").checked){
        precio = document.getElementById("precioDescuento").value;
      }
      document.getElementById("precioCom").value = precio;
      console.log(precio);
    }

    function multiplicar(){
      var precio = document.getElementById("precioCom").value;
      var cantidad = document.getElementById("cantidadCom").value;
      var total = precio * cantidad;
      document.getElementById("totalCom").value = total;
    }
  </script>
</html>
